@import url("https://use.typekit.net/ojv4ekx.css");

* {
  padding: 0;
  margin: 0;
  font-family: "europa",sans-serif;
  box-sizing: border-box;
  outline:none;
}

/* Color Codes & Other Variables */
:root {
    --primary: #7510f7;
  --primary-variant: #101EF7;
  --text: #000;
  --text-variant: #fff;
  --highlight: #10F775;
}

/* overall adjustments */
html {
    scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.container-fluid {
    padding: 3% 10%;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 

::-webkit-scrollbar-thumb {
    background-color: #000000;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

/* Navigation Bar */
nav {
   background: var(--text-variant);
   color: var(--primary-variant);
   z-index: 1;
}

.navbar {
    /* padding: 0 0 4.5rem;  */
    padding-left: 10%;
    padding-right: 10%;
  }

.navbar-brand {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--primary-variant);
}

.nav-item:hover {
    border-bottom: 2px solid var(--highlight);
}

.nav-link {
    font-size: 1.5 rem;
    font-weight: normal;
    color: var(--primary-variant);
}

.navbar-toggler i {
    color: var(--primary-variant);
}

.navbar-brand:hover, .nav-link:hover, .navbar-toggler i:hover {
    color: var(--text);
}

/* hero section */
#hero-section {
    height: 90vh;
    padding-top: 2%;
}

#hero-intro {
    color: var(--text);
}

#hero-intro span {
    font-size: 2rem;
    color: var(--primary-variant);
}

#hero-intro p {
    padding-top: 10%;
    font-size: 1.5rem;
}

@media only screen and (max-width: 880px) {
    #hero-section {
        background-image: url('assets/images/imageedit_1_8252384436.png');
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        height: 90vh;
    }

    #hero-image {
        display: none;
    }

    #hero-intro span {
        font-size: normal;
        color: var(--primary-variant);
    }

    #hero-intro p {
        padding-top: 50px;
        font-size: normal;
    }
}

@media only screen and (min-width: 880px) and (max-width: 1024px) {
    #hero-section {
        background-image: url('assets/images/imageedit_1_8252384436.png');
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
    }

    #hero-image {
        display: none;
    }

    #hero-intro span {
        font-size: 2.5em;
        color: var(--primary-variant);
    }

    #hero-intro p {
        padding-top: 50px;
        font-size: 2em;
    }
}

@media only screen and (max-width: 768px) {
    #hero-section {
        padding-top: 5%;
    }
}

/* collaborate section */
#collaborate {
    background-color: var(--primary);
    color: var(--text-variant);
    text-align: center;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    z-index: 2;
}

#collaborate span {
    color: var(--highlight);
}

.collab-div {
    border-top: 20px solid var(--highlight);
    border-radius: 5%;
    margin-top: -15%;
    padding-top: 15%;
    padding-bottom: 15%;
    font-size: 1.2em;
    z-index: 1;
}

@media only screen and (max-width: 1024px) {
    #collaborate {
        padding: 10% 3% 5%;
    }

    .collab-div {
        border: none;
    }
}

/* hire section */
#hire {
    background-color: var(--primary);
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}

.hire-div {
    font-size: 1.5em;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
    border-radius: 1%;
    margin-top: -15%;
    background-color: var(--text-variant);
    padding-bottom: 5%;
    padding-top: 2%;
}

.btn {
    background-color:var(--text-variant);
    border: 2px solid var(--primary-variant);
    color: var(--text);
}

.btn:active, .btn:focus {
    background-color:var(--text-variant) !important;
    border: 2px solid var(--primary-variant);
    color: var(--text) !important;
}

.btn:hover {
    background-color: var(--highlight);
    color: var(--text);
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1024px) {
    #hire {
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 10%;
    }
}

/* timeline section */
#timeline {
    height: auto;
    background-color: rgba(16, 247, 117, 0.2);
}
#timeline h3 {
    display: inline-block;
    width: auto;
    letter-spacing: 1.5px;
    color: rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}

#timeline ul {
    padding-top: 12px;
    padding-left: 40px;
}

#timeline span {
    color: var(--primary);
}

/*  under development */
#under-dev {
    text-align: center;
    padding-top: 200px;
}
